.webform-stepbar .item-list ul.inline li{
	border-left: solid thin;
	padding-left: 0.2em;
}
.webform-stepbar .item-list ul.inline li.first{
  border-left: none;
}
.webform-stepbar .item-list ul.inline li.current-step{
text-decoration: underline;
font-weight: bold;
}
